.netMattersNavBar{
    display: flex;
    margin-top: 10px;
    height: 100px;
    justify-content: center;
}
.navText{
    color: white;
    height: 56px;
}.item{
    margin: 10px;
}
.item-4{
    margin-right: 0;
}
.item-5{
    margin-left: 0;
    background-color: grey;
}
.item-6{
    font-size:12px
}
.squarebt{
    color: white;
    width: 56px;
    height: 56px;
}



.mainNavBar{
    height: 100px;
    background-color: purple;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.f1{
   font-size: 12;
}
.f2{
   font-size: 20;
}